@model Contact

@{
    ViewData["Title"] = "Admin - İletişim";
}



    <section class="section dashboard">
        <div class="container">
            <div class="row">
                <h3>İletişim Sayfası</h3>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ayarlar</h5>
                        <form class="needs-validation" asp-action="UpdateContact" method="post">
                            <input asp-for="Id" class="form-control" hidden >
                            <div class="row mb-3"> <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10"> <input type="email" asp-for="Email" class="form-control" required></div>
                            </div>
                            <div class="row mb-3"> <label for="inputPhoneNumber" class="col-sm-2 col-form-label">Telefon Numarası</label>
                                <div class="col-sm-10"> <input type="text" asp-for="PhoneNumber" class="form-control" required></div>
                            </div>
                            <div class="row mb-3"> <label for="inputGoogleMap" class="col-sm-2 col-form-label">Google IFrame Url</label>
                                <div class="col-sm-10"> <input type="text" asp-for="GoogleIFrameUrl" class="form-control"></div>
                            </div>
                            <div class="row mb-3"> <label for="inputAddress" class="col-sm-2 col-form-label">Adres</label>
                                <div class="col-sm-10"> <input type="text" asp-for="Address" class="form-control" required></div>
                            </div>
                            <div class="row mb-3"> <label for="inputHeader"
                                    class="col-sm-2 col-form-label">İçerik Başlık Açıklaması</label>
                                <div class="col-sm-10"><textarea asp-for="HeaderDescription" class="form-control" sstyle="height: 100px" required></textarea>
                                </div>
                                <span class="text-danger" asp-validation-for="HeaderDescription"></span>
                            </div>
                            <div class="row mb-3"> <label for="inputFacebook" class="col-sm-2 col-form-label">Facebook Link</label>
                                <div class="col-sm-10"> <input type="text" asp-for="FacebookUrl" class="form-control"></div>
                            </div>
                            <div class="row mb-3"> <label for="inputTwitter" class="col-sm-2 col-form-label">Twitter Link</label>
                                <div class="col-sm-10"> <input type="text" asp-for="TwitterUrl" class="form-control"></div>
                            </div>
                            <div class="row mb-3"> <label for="inputInstagram" class="col-sm-2 col-form-label">Instagram Link</label>
                                <div class="col-sm-10"> <input type="text" asp-for="InstagramUrl" class="form-control"></div>
                            </div>
                            <div class="row mb-3"> <label for="inputLinkedin" class="col-sm-2 col-form-label">LinkedIn Link</label>
                                <div class="col-sm-10"> <input type="text" asp-for="LinkedInUrl" class="form-control"></div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-sm-10"> <button type="submit" class="btn btn-primary">Güncelle</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



