@model IEnumerable<InternetType>

@{
    ViewData["Title"] = "Admin - İnternet Tipi";
}



    <section class="section dashboard">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h3>İnternet Tipi</h3>
                </div>
                <div class="col-1">
                    @{
                        await Html.RenderPartialAsync("~/Views/Admin/Modals/AddInternetTypeModal.cshtml",new InternetType());
                    }
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tanım</th>
                            <th scope="col">Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <a type="button" class="btn btn-danger" asp-controller="Admin"
                                        asp-action="RemoveInternetType" asp-route-Id="@item.Id">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </section>



